.logo__cursor {
  display: none;
}

code[class*="language-"] {
  white-space: pre-wrap;
}

.post-title {
  font-size: 2.2rem;
  margin: 0 0 13px;
}

.logo__mark {
  margin-right: 0.4rem;
}

.logo__mark .greater-icon {
  width: 1.4rem;
}

.social-link {
  width: 24px;
  height: 100%;
  margin: 0 0.5rem;
}
